<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Sentiment Analysis</title>
</head>
<body>
    <h1>Live Sentiment Analysis</h1>
    <form action ='/predict' method="post">
        <label for="user_input">Enter a text message:</label>
        <input type="text" name="user_input" id="user_input" required>
        <input type="submit" value="Analyze">
    </form>
    {% if user_input %}
        <p>You entered: {{ user_input }}</p>
        <p>Predicted Emotion: {{ predicted_emotion }}</p>
    {% endif %}
</body>
</html>
